{% extends 'main.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'products:books_list' %}>Livres</a></li>
    <li class="breadcrumb-item active">{{ book }}</li>
{% endblock breadcrumbs %}

{% block content %}
    <h2 class="mb-4 green font-weight-bold text-center">{{ book }}</h2>

    {% if user.is_authenticated %}
        <a href={% url 'products:book_update' book.id %}>Modifier ce livre</a>
        <a href={% url 'products:book_delete' book.id %}>Supprimer ce livre</a>
    {% endif %}
    
    <a href={% url 'products:books_list' %}>Retour à la liste des livres</a>
{% endblock content %}
