{% extends 'main.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'products:books_list' %}>Livres</a></li>

    {% if book %}
        <li class="breadcrumb-item"><a href={% url 'products:book_details' book.id %}>{{ book }}</a></li>
        <li class="breadcrumb-item active">Modifier</li>
    {% else %}
        <li class="breadcrumb-item active">Créer</li>
    {% endif %}
{% endblock breadcrumbs %}

{% block content %}
    {% if book %}
        <h2 class="mb-4 green font-weight-bold">Modifier un livre</h2>
    {% else %}
        <h2 class="mb-4 green font-weight-bold">Créer un nouveau livre</h2>
    {% endif %}

    <form method="post" novalidate>
        {% csrf_token %}
        {{ form }}
        <button type="submit">Valider</button>
    </form>
{% endblock content %}
