{% extends 'main.html' %}

{% load static %}
{% load widget_tweaks %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Images</li>
{% endblock breadcrumbs %}

{% block content %}
    <h4>Images</h4>

    <div class="col-6">
        <table class="table table-sm table-bordered">
            {% for image in images %}
                <tr>
                    <td>{{ image }}</td>
                    <td><a href={% url 'products:image_details' image.pk %}><span class="fas fa-eye" title="Voir les détails"></span></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
